@page "/pesanan/form"
@page "/pesanan/form/{id}"
@layout AdminLayout
@inherits PesananFormBase

<PageTitle>Pesanan Langsung</PageTitle>

@if (!_loaded)
{
    <MudProgressCircular Indeterminate />
}
else
{
    <MudContainer MaxWidth="MaxWidth.ExtraLarge">
        
        <MudText Typo="Typo.h6">
            <MudIcon Icon="@(_new ? Icons.Material.Filled.Add : Icons.Material.Filled.Edit)" Class="mr-3 mb-n1" />
            @(_new ? "Tambah Pesanan" : "Edit Pesanan")
        </MudText>
        
        <MudForm Model="_pesanan" @ref="_form" Validation="((PesananValidator)Validator).ValidateValue">
            <MudStack Row Class="wp-100 mb-3">
                <MudStack Class="flex-1">
                    <div class="w-125">
                        <MudField Label="Id">@_pesanan.Id</MudField>
                    </div>
                    @* <div class="w-150">
                        <MudField Label="Email">@_pesanan.Email</MudField>
                    </div> *@
                    <MudStack Row>
                        <div class="w-225">
                            <MudDatePicker Label="Tanggal" @bind-Date="_pesanan.Tanggal" PickerVariant="PickerVariant.Dialog" DateFormat="dd MMMM yyyy" tabindex="-1" />
                        </div>
                        <div class="w-100">
                            <MudTimePicker Label="Jam" Editable @bind-Time="_pesanan.Jam" />
                        </div>
                    </MudStack>
                </MudStack>
                <MudStack Row Class="w-350">
                    <MudStack Class="flex-1">
                        <div>
                            <MudField Label="Subtotal" Adornment="Adornment.Start" AdornmentText="Rp">@_pesanan.Subtotal.ToString("N0")</MudField>
                        </div>
                        <div>
                            <MudField Label="Total Diskon" Adornment="Adornment.Start" AdornmentText="Rp">@_pesanan.Potongan.ToString("N0")</MudField>
                        </div>
                        <div>
                            <MudField Label="Total" Adornment="Adornment.Start" AdornmentText="Rp">@_pesanan.Total.ToString("N0")</MudField>
                        </div>
                    </MudStack>
                    <MudStack Class="flex-1">
                        <div>
                            <MudNumericField Immediate HideSpinButtons T="int" @bind-Value="_pesanan.Bayar" Format="N0" Label="Bayar" Adornment="Adornment.Start" AdornmentText="Rp" />
                        </div>
                        <div>
                            <MudField Label="@(_pesanan.Sisa < 0 ? "Kurang" : "Kembali")" Adornment="Adornment.Start" AdornmentText="Rp" AdornmentColor="_pesanan.Sisa < 0 ? Color.Error : Color.Default">@Math.Abs(_pesanan.Sisa).ToString("N0")</MudField>
                        </div>
                        @* <div>
                            <MudSelect @bind-Value="_pesanan.Status" Dense Label="Status Pesanan">
                                @foreach (StatusPesanan x in Enum.GetValues(typeof(StatusPesanan)))
                                {
                                    <MudSelectItem Value="x">
                                        @x.GetDescription()
                                    </MudSelectItem>
                                }
                            </MudSelect>
                        </div> *@
                    </MudStack>
                </MudStack>
            </MudStack>

            <MudStack Row Class="mt-3">

                <MudDataGrid Class="flex-2" Items="_pesanan.DetailPesanan" Elevation="2" Dense Bordered ShowColumnOptions="false">
                    <ToolBarContent>
                        <MudText Typo="Typo.h6">Menu yang dipesan</MudText>
                        <MudSpacer />
                        <MudAutocomplete @ref="autocompleteMenu" T="Menu" @bind-Value="_menuTerpilih" @bind-Value:after="() => PilihMenu(_menuTerpilih)" Placeholder="Cari & pilih menu..." Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Dense CoerceText SearchFunc="SearchMenuAsync" ToStringFunc="@(x => x is null ? null : $"{x.Nama} ({x.Kategori.GetDescription()})")" MaxItems="128" />
                    </ToolBarContent>
                    <Columns>
                        <PropertyColumn Property="x => x.Menu.Nama" />
                        <PropertyColumn Property="x => x.Harga" HeaderClass="w-0" Format="N0" />
                        <TemplateColumn Title="Jumlah" HeaderClass="w-0">
                            <CellTemplate>
                                <MudNumericField Class="mt-n1" Immediate HideSpinButtons T="int" @bind-Value="context.Item.Jumlah" @bind-Value:after="Calculate" />
                            </CellTemplate>
                        </TemplateColumn>
                        <PropertyColumn Property="x => x.Subtotal" Format="N0" HeaderClass="w-0" />
                        <PropertyColumn Property="x => x.Diskon" Sortable="false" Format="P0" HeaderClass="w-0" />
                        <PropertyColumn Property="x => x.Total" Format="N0" HeaderClass="w-0" />
                        <TemplateColumn HeaderClass="w-0" Title="Opsi">
                            <CellTemplate>
                                <MudIconButton Variant="Variant.Filled" Size="Size.Small" Icon="@Icons.Material.Filled.Delete" Color="Color.Error" OnClick="e => DeleteDetail(context.Item)" />
                            </CellTemplate>
                        </TemplateColumn>
                    </Columns>
                </MudDataGrid>

                <MudTable Class="flex-1" Items="_pesanan.MenuPromoPesanan" Dense Bordered>
                    <ToolBarContent>
                        <MudText Typo="Typo.h6">Promo didapat</MudText>
                    </ToolBarContent>
                    <HeaderContent>
                        <MudTh>Menu</MudTh>
                        <MudTh Class="w-0">Jumlah</MudTh>
                    </HeaderContent>
                    <RowTemplate>
                        <MudTd DataLabel="Menu">@context.Menu.Nama</MudTd>
                        <MudTd DataLabel="Jumlah">@context.Jumlah</MudTd>
                    </RowTemplate>
                </MudTable>

            </MudStack>

        </MudForm>
        
        <MudStack Row Class="mt-4">
            <div>
                <MudIconButton Size="Size.Small" Icon="@Icons.Material.Filled.Help" @onmouseenter="e => _isValidationRuleShow = true" @onmouseleave="e => _isValidationRuleShow = false" />
                <MudPopover Open="_isValidationRuleShow" AnchorOrigin="Origin.TopCenter" TransformOrigin="Origin.BottomLeft" Fixed Class="px-4">
                    <MudStack Spacing="0" Class="pb-2">
                        <MudText Typo="Typo.button" Class="pt-2">Bayar :</MudText>
                        <div>▪ Tidak boleh kosong</div>
                        <MudText Typo="Typo.button" Class="pt-2">Status :</MudText>
                        <div>▪ Status pesanan akan berubah secara otomatis sesuai dengan pesanan yang terjadi. Tidak disarankan mengubah status pesanan secara langsung.</div>
                    </MudStack>
                </MudPopover>
            </div>
            <MudSpacer />
            <MudStack Row Class="w-425">
                <MudButton Variant="Variant.Filled" Size="Size.Small" Color="_new ? Color.Success : Color.Warning" OnClick="SaveAsync" Class="flex-1">Simpan</MudButton>
                <MudButton Size="Size.Small" OnClick="@(e => NavManager.NavigateTo("/pesanan"))" Class="flex-1">Kembali</MudButton>
            </MudStack>
        </MudStack>

    </MudContainer>
}

@* <MudMessageBox @ref="_cancelConfirmation" Title="Konfirmasi Pembatalan Pesanan">
    <MessageContent>
        <MudPaper Elevation="0" MinWidth="300px" Class="mx-5">
            @($"Batalkan pesanan nomor {_pesanan.Id}")
        </MudPaper>
    </MessageContent>
    <NoButton>
        <MudButton Variant="Variant.Filled" Class="ma-1" Color="Color.Error" Size="Size.Small">Ya</MudButton>
    </NoButton>
    <YesButton>
        <MudButton Variant="Variant.Filled" Class="ma-1" Size="Size.Small">Tidak</MudButton>
    </YesButton>
</MudMessageBox> *@