@page "/pesanan/detail/{id}"
@layout AdminLayout
@inherits PesananDetailBase

<PageTitle>Pesanan</PageTitle>

@if (!_loaded)
{
    <MudProgressCircular Indeterminate />
}
else
{
    <MudContainer Class="my-8">
        <MudText Typo="Typo.h4" Class="mb-3">Detail @Id</MudText>

        <MudStack>
            <MudPaper Class="pa-3 mb-6">
                <MudStack Row>
                    <div class="w-300">
                        <MudText Typo="Typo.subtitle1">Tanggal</MudText>
                    </div>
                    <div>
                        <MudText Typo="Typo.subtitle1">: @_pesanan.Tanggal!.Value.ToString("dd/MM/yyyy")</MudText>
                    </div>
                </MudStack>
                <MudStack Row>
                    <div class="w-300">
                        <MudText Typo="Typo.subtitle1">Subtotal</MudText>
                    </div>
                    <div>
                        <MudText Typo="Typo.subtitle1">: Rp @_pesanan.Subtotal.ToString("N0")</MudText>
                    </div>
                </MudStack>
                <MudStack Row>
                    <div class="w-300">
                        <MudText Typo="Typo.subtitle1">Potongan</MudText>
                    </div>
                    <div>
                        <MudText Typo="Typo.subtitle1">: Rp @_pesanan.Potongan.ToString("N0")</MudText>
                    </div>
                </MudStack>
                <MudStack Row>
                    <div class="w-300">
                        <MudText Typo="Typo.subtitle1">Dibayar</MudText>
                    </div>
                    <div>
                        <MudText Typo="Typo.subtitle1">: Rp @_pesanan.Bayar.ToString("N0")</MudText>
                    </div>
                </MudStack>
            </MudPaper>
            @foreach (DetailPesanan detail in _pesanan.DetailPesanan)
            {
                <MudPaper Class="border-solid border mud-border-dark">
                    <MudStack Row>
                        <div class="d-flex flex-column align-center w-125 pa-2">
                            <MudImage Src="@(detail.Menu.Gambar != null ? string.Format($"data:image/gif;base64,{Convert.ToBase64String(detail.Menu.Gambar!)}") : "/images/piring_kosong.png")" Fluid Alt="Gambar Menu" ObjectFit="ObjectFit.Cover" Class="rounded-lg" />
                        </div>
                        <MudStack Class="flex-1" Spacing="0">
                            <MudText Typo="Typo.subtitle1" Class="mt-1">@detail.Menu.Nama</MudText>
                            <MudText Typo="Typo.caption" Style="color: grey;">@detail.Menu.Kategori.GetDescription()</MudText>
                            <MudSpacer />
                            <MudText Typo="Typo.overline">@detail.Jumlah x Rp @detail.Harga.ToString("N0")</MudText>
                        </MudStack>
                        <MudStack Class="my-1 mr-2">
                            <div class="w-125 d-flex flex-row-reverse align-center">
                                <MudText Class="text-right bold" Typo="Typo.subtitle1">Rp @detail.Total.ToString("N0")</MudText>
                                @if (detail.Diskon > 0)
                                {
                                    <MudText Class="text-right bold mr-2 mud-error-text" Typo="Typo.overline">-@detail.Diskon.ToString("P0")</MudText>
                                }
                            </div>
                        </MudStack>
                    </MudStack>
                </MudPaper>
            }

            @if (_pesanan.MenuPromoPesanan.Any())
            {
                <MudText Typo="Typo.h5" Class="mt-6">Promo yang didapat</MudText>

                @foreach (MenuPromoPesanan menuPromo in _pesanan.MenuPromoPesanan)
                {
                    <MudPaper Class="border-solid border mud-border-dark">
                        <MudStack Row>
                            <div class="d-flex flex-column align-center w-125 pa-2">
                                <MudImage Src="@(menuPromo.Menu.Gambar != null ? string.Format($"data:image/gif;base64,{Convert.ToBase64String(menuPromo.Menu.Gambar!)}") : "/images/piring_kosong.png")" Fluid Alt="Gambar Menu" ObjectFit="ObjectFit.Cover" Class="rounded-lg" />
                            </div>
                            <MudStack Class="flex-1" Spacing="0">
                                <MudText Typo="Typo.subtitle1" Class="mt-1">@menuPromo.Menu.Nama</MudText>
                                <MudText Typo="Typo.caption" Style="color: grey;">@menuPromo.Menu.Kategori.GetDescription()</MudText>
                                <MudSpacer />
                                <MudText Typo="Typo.overline">Jumlah : @menuPromo.Jumlah</MudText>
                            </MudStack>
                        </MudStack>
                    </MudPaper>
                }
            }
        </MudStack>
    </MudContainer>
}