@inherits SalesFormBase

<MudDialog Class="vw-80 min-w-400">
    <DialogContent>
        <MudContainer Class="vh-60 overflow-y-auto">
            <MudStack Row>
                <MudStack Class="flex-1">
                    @foreach (DiskonFormDTO diskon in _sales.DiskonDTO)
                    {
                        <MudCard Elevation="0" Class="border-solid border mud-border min-h-150">
                            <MudCardHeader>
                                <CardHeaderContent>
                                    <MudStack Row>
                                        <MudText Typo="Typo.h6">Diskon # @(_sales.DiskonDTO.IndexOf(diskon) + 1)</MudText>
                                        <MudSpacer />
                                        <MudIconButton Variant="Variant.Filled" Size="Size.Small" Icon="@Icons.Material.Filled.DeleteForever" Color="Color.Error" OnClick="e => _sales.DiskonDTO.Remove(diskon)" tabindex="-1" />
                                    </MudStack>
                                </CardHeaderContent>
                            </MudCardHeader>
                            <MudDivider />
                            <MudCardContent>
                                <MudForm Model="diskon">
                                    <MudStack Row>
                                        <div class="flex-1">
                                            <MudAutocomplete Label="Menu" T="Menu" @bind-Value="diskon.Diskon.Menu" @bind-Value:after="() => diskon.Diskon.IdMenu = diskon.Diskon.Menu.Id" Dense CoerceText SearchFunc="SearchMenuAsync" ToStringFunc="x => x == null ? null : x.Nama" MaxItems="128" />
                                        </div>
                                        <div class="w-75">
                                            <MudNumericField Immediate HideSpinButtons T="decimal" @bind-Value="diskon.Diskon.Nilai" Format="N0" Label="Diskon" Min="1" Max="99" Adornment="Adornment.End" AdornmentText="%" />
                                        </div>
                                    </MudStack>
                                    <MudDateRangePicker Label="Jangka Waktu" PickerVariant="PickerVariant.Dialog" @bind-DateRange="diskon.DR" DateFormat="dd MMM yyyy" tabindex="-1" />
                                </MudForm>
                            </MudCardContent>
                        </MudCard>
                    }
                    <MudIconButton Class="border-dashed border mud-border-success min-h-200" Size="Size.Large" Icon="@Icons.Material.Filled.Add" Variant="Variant.Outlined" Color="Color.Success" OnClick="AddDiskon" />
                </MudStack>
                <MudStack Class="flex-1">
                    @foreach (PromoFormDTO promo in _sales.PromoDTO)
                    {
                        <MudCard Elevation="0" Class="border-solid border mud-border min-h-150">
                            <MudCardHeader>
                                <CardHeaderContent>
                                    <MudStack Row>
                                        <MudText Typo="Typo.h6">Promo # @(_sales.PromoDTO.IndexOf(promo) + 1)</MudText>
                                        <MudSpacer />
                                        <MudIconButton Variant="Variant.Filled" Size="Size.Small" Icon="@Icons.Material.Filled.DeleteForever" Color="Color.Error" OnClick="e => _sales.PromoDTO.Remove(promo)" tabindex="-1" />
                                    </MudStack>
                                </CardHeaderContent>
                            </MudCardHeader>
                            <MudDivider />
                            <MudCardContent>
                                <MudForm Model="promo">
                                    <MudStack Row Spacing="1">
                                        <div class="w-50">
                                            <MudNumericField Immediate T="int" @bind-Value="promo.Promo.JumlahDibeli" Label="Beli" Min="1" Max="99" />
                                        </div>
                                        <div class="flex-1">
                                            <MudAutocomplete Label="Beli" T="Menu" @bind-Value="promo.Promo.MenuDibeli" @bind-Value:after="() => {promo.Promo.IdMenuDibeli = promo.Promo.MenuDibeli.Id; promo.Promo.MenuDidapat ??= promo.Promo.MenuDibeli;}" Dense CoerceText SearchFunc="SearchMenuAsync" ToStringFunc="x => x == null ? null : x.Nama" MaxItems="128" />
                                        </div>
                                        <div class="w-50">
                                            <MudNumericField Immediate T="int" @bind-Value="promo.Promo.JumlahDidapat" Label="Gratis" Min="1" Max="99" />
                                        </div>
                                        <div class="flex-1">
                                            <MudAutocomplete Label="Gratis" T="Menu" @bind-Value="promo.Promo.MenuDidapat" @bind-Value:after="() => promo.Promo.IdMenuDidapat = promo.Promo.MenuDidapat.Id" Dense CoerceText SearchFunc="SearchMenuAsync" ToStringFunc="x => x == null ? null : x.Nama" MaxItems="128" />
                                        </div>
                                    </MudStack>
                                    <MudDateRangePicker Label="Jangka Waktu" PickerVariant="PickerVariant.Dialog" @bind-DateRange="promo.DR" DateFormat="dd MMM yyyy" tabindex="-1" />
                                </MudForm>
                            </MudCardContent>
                        </MudCard>
                    }
                    <MudIconButton Class="border-dashed border mud-border-success min-h-200" Size="Size.Large" Icon="@Icons.Material.Filled.Add" Variant="Variant.Outlined" Color="Color.Success" OnClick="AddPromo" />
                </MudStack>
            </MudStack>
        </MudContainer>
    </DialogContent>
    <DialogActions>
        <div>
            <MudIconButton Size="Size.Small" Icon="@Icons.Material.Filled.Help" @onmouseenter="e => _isValidationRuleShow = true" @onmouseleave="e => _isValidationRuleShow = false" />
            <MudPopover Open="_isValidationRuleShow" AnchorOrigin="Origin.TopCenter" TransformOrigin="Origin.BottomLeft" Fixed Class="px-4">
                <MudStack Spacing="0" Class="pb-2">
                    <MudText Typo="Typo.button" Class="pt-2">Id :</MudText>
                    <div>▪ Tidak boleh duplikat</div>
                    <div>▪ Tidak boleh kosong</div>
                    <MudText Typo="Typo.button" Class="pt-2">Nama :</MudText>
                    <div>▪ Tidak boleh kosong</div>
                    <MudText Typo="Typo.button" Class="pt-2">Alamat :</MudText>
                    <div>▪ Tidak boleh kosong</div>
                    <MudText Typo="Typo.button" Class="pt-2">Telepon :</MudText>
                    <div>▪ Tidak boleh kosong</div>
                    <MudText Typo="Typo.button" Class="pt-2">Status :</MudText>
                    <div>▪ Status sales akan berubah secara otomatis sesuai dengan peminjaman yang terjadi. Tidak disarankan mengubah status sales secara langsung.</div>
                </MudStack>
            </MudPopover>
        </div>
        <MudSpacer />
        <MudStack Row Class="w-300">
            <MudButton Variant="Variant.Filled" Size="Size.Small" Color="_new ? Color.Success : Color.Warning" OnClick="SaveAsync" Class="flex-1">Simpan</MudButton>
            <MudButton Size="Size.Small" OnClick="Cancel" Class="flex-1">Kembali</MudButton>
        </MudStack>
    </DialogActions>
</MudDialog>